pyspark>=3.3.0
boto3>=1.26.0
pandas>=2.0.0
openpyxl>=3.1.0
pyarrow>=10.0.0
google-genai
python-dotenv
pydantic
fastapi
uvicorn
python-multipart
playwright
Pillow
mcp==2.0.0
httpx
chromadb
numpy
prophet>=1.1.5
scikit-learn>=1.2.0
matplotlib>=3.7.0
